# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

# cubeMX project file
*.ioc
/.mxproject

#debug file
STM32F103.svd